<nav class="nav-logout">
    <img src="" alt="">
    <p clas="logout-text">{{currentUser.username}}</p>
    <form action="../logout" method="POST">
        <input type="submit" value="logout" class="logout-button"/>
    </form>
</nav>