<nav class="nav-logout">
    <div class="nav-logo">
        <a href="/"><img src="/images/logo/logo-white.png" alt="Logo"></a>
    </div>
    <form action="../logout" method="POST">
        <input type="submit" value="logout" class="logout-button-2"/>
    </form>
</nav>