{{> navlogout }}

<div>
    <h2>My fridge</h2>
    <div>
        <div>Each iterator with icons</div>
        <div><h5>Vegetables</h5></div>
    </div>
    <div>
        <div>Each iterator with icons</div>
        <div><h5>Meat & Fish</h5></div>
    </div>
    <div>
        <div>Each iterator with icons</div>
        <div><h5>Dairy & Eggs</h5></div>
    </div>
    <div>
        <div>Each iterator with icons</div>
        <div><h5>Fruits</h5></div>
    </div>
    <div>
        <div>Each iterator with icons</div>
        <div><h5>Sweets</h5></div>
    </div>
    <h1><a href="/fridge/ingredients/add">+</a></h1>
</div>

<nav>icon delete</nav>