{{> navlogout }}

<div>
    <a href="/fridge"><img src="https://thumbs.dreamstime.com/b/fridge-flat-design-long-shadow-icon-refrigerator-vector-silhouette-symbol-79191916.jpg" alt="My fridge" height="100px"></a>
    <h3>My fridge</h3>
</div>

<div>
    <a href="/recipes"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Closed_Book_Icon.svg/2000px-Closed_Book_Icon.svg.png" alt="My recipes" height="100px"></a>
    <h3>My recipes</h3>
</div>