{{> navlogout }}
<section class="home-container">
    <div class="home-fridge">
        <a href="/fridge">
            <img src="https://thumbs.dreamstime.com/b/fridge-flat-design-long-shadow-icon-refrigerator-vector-silhouette-symbol-79191916.jpg"
                alt="My fridge" class="home-fridge-icon">
        </a>
        <h3>My fridge</h3>
    </div>
    <div class="home-recipes">
        <a href="/recipes">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Closed_Book_Icon.svg/2000px-Closed_Book_Icon.svg.png"
                alt="My recipes" class="home-recipes-icon">
        </a>
        <h3>My recipes</h3>
    </div>
</section>