{{> navlogout }}

<form action="/fridge/ingredients/add" method="post">
    {{#each ingredients}}
        <div>
            <img src="{{this.image}}" alt=""><br>
            <input type="checkbox" name="ingredient" value="{{this.name}}">{{this.name}}<br>
        </div>
    {{/each}}
    <input type="submit" value="Add">
</form>
