{{> navlogout }}

<div>
    <h2><a href="/recipes/suggestions">What can I eat?</a></h2>
</div>

<div>
        <h2><a href="/recipes/all">All recipes</a></h2>
</div>

<div>
         <h2><a href="">Recipe of the day</a></h2>
</div>