{{> navlogout }}
<h1 id="error-title">{{error.status}}</h1>
{{!--<p>{{error.stack}}</p>--}}
<h2 id="error-message">{{message}}</h2>
<a href="/" id="error-link">Go home</a>
{{!-- <pre>{{error.stack}}</pre> --}}
