{{> navlogout }}
<section class="home-container">
    <div class="home-fridge">
        <a href="/fridge">
            <img src="/images/fridge.png" alt="My fridge" class="home-fridge-icon">
        </a>
        <h3>My fridge</h3>
    </div>
    <div class="home-recipes">
        <a href="/recipes">
            <img src="/images/recipe.png" alt="My recipes" class="home-recipes-icon">
        </a>
        <h3>My recipes</h3>
    </div>
</section>