<section class="title">
    {{> navindex}}
    <div class="header">
        <h1 class="main-title" data-aos="fade-up">fridgeat</h1>
        <h2 class="subtitle" data-aos="fade-right">Eat what's in your fridge</h2>
    </div>
</section>

<section class="logo-text">
    <div class="info">
        <img src="/images/mixer.png" alt="" class="img-text" data-aos="fade-up">
        <h3 class="section2-titles">Mix ingredients</h3>
        <p class="section2-text">Add and delete ingredients in your virtual fridge and keep them classified by type.</p>
    </div>
    <div class="info">
        <img src="/images/frying-pan.png" alt="" class="img-text" data-aos="fade-up">
        <h3 class="section2-titles">Get recipes</h3>
        <p class="section2-text">Out of ideas? Don't worry! We use the ingredients in your fridge to get the perfect recipes.</p>
    </div>
    <div class="info">
        <img src="/images/chef.png" alt="" class="img-text" data-aos="fade-up">
        <h3 class="section2-titles">Become a chef</h3>
        <p class="section2-text">Explore all available recipes and discover each day a different one. Easy, fast and tasty!</p>
    </div>
</section>

{{#if currentUser}}
    <section class="to-my-fridge">
        <a class="access-fridge-text" data-aos="fade-up" href="/home">Access my fridge</a>
    </section>
{{else}}
    <section id="signup" class="signup-form">
        <div class="form-div" data-aos="flip-left">
            <h2 class="form-title">Sign up</h2>
            <form action="./auth/signup" method="post" class="general-form">
                <div class="item-signup">
                    <label for="" class="form-text">Username</label>
                    <input type="text" name="username" class="form-input"/>
                </div>
                <div class="item-signup">
                    <label for="" class="form-text">Email</label>
                    <input type="email" name="email" class="form-input"/>
                </div>
                <div class="item-signup">
                    <label for="" class="form-text">Password</label>
                    <input type="password" name="password" class="form-input"/>
                </div>
                    <p class="singup-message"><i>{{message}}</i></p>
                <div class="input-button-space">
                    <button type="submit" class="signup-login-button">Sign up</button>
                </div>
            </form>
            <div class="another-acc">
                <p class="form-acc-text">Already have an account? <a href="/auth/login" class="remove-style-acc">Log in</a></p>
            </div>
        </div>
    </section>
{{/if}}
<section>
{{> footer}}
</section>