{{> navlogout }}

<form action="/fridge/ingredients/add" method="post">
    <div class="ingredients-add-div">
    {{#each ingredients}}
        <div class="add-ingredients-space">
            <img   class="add-ingredients-image" src="{{this.image}}" alt="">
            <div class="add-ingredients-inner-div">
            <input class="add-ingredients-checkbox" type="checkbox" name="ingredient" value="{{this.name}}">
            <p class="add-ingredients-text">{{this.name}}</p>
            </div>
        </div>   
    {{/each}}
    </div>
    <input   class="current-ingredients-delete-button-2" type="submit" value="Add">
</form>
