{{> navonlylogo}}
<section name="login" class="login-form">
     <div class="form-div" data-aos="flip-left">
        <h2 class="form-title">Log in</h2>
        <form action="/auth/login" method="post" class="general-form">
            <div class="item-login">
                <label for="" class="form-text">Username</label>
                <input type="text" name="username" class="form-input"/>
            </div>
            <div class="item-login">
                <label for="" class="form-text">Password</label>
                <input type="password" name="password" class="form-input"/>
            </div>
                <div class="input-button-space">
                    <button type="submit" class="signup-login-button">Log in</button>
                </div>
        </form>
        <div>
            <p class="form-acc-text">Don't have an account? <a href="/#signup" class="remove-style-acc">Sign up</a></p>
        </div>
        {{message}}
    </div>
</section>