{{> navlogout }}
<section class="recipes-container">
    <div class="recipes-div">
        <h2 class="recipes-title">
            <a href="/recipes/suggestions">What can I eat?</a>
        </h2>
    </div>

    <div class="recipes-div">
        <h2 class="recipes-title">
            <a href="/recipes/all">All recipes</a>
        </h2>
    </div>

    <div class="recipes-div">
        <h2 class="recipes-title">
            <a href="/recipes/day">Recipe of the day</a>
        </h2>
    </div>
</section>