{{> navlogout }}
<section class="recipes-container">
    <div class="recipes-div" data-aos="fade-right">
        <h2 class="recipes-title">
            <a   class="recipes-text-3 delete-link" href="/recipes/suggestions">What can I eat?</a>
        </h2>
    </div>

    <div class="recipes-div" data-aos="fade-right" data-aos-delay="300">
        <h2 class="recipes-title">
            <a class="recipes-text-3 delete-link" href="/recipes/all">All recipes</a>
        </h2>
    </div>

    <div class="recipes-div" data-aos="fade-right" data-aos-delay="600">
        <h2 class="recipes-title">
            <a class="recipes-text-3 delete-link" href="/recipes/day">Recipe of the day</a>
        </h2>
    </div>
</section>