html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
}  

.header {
  margin-top: 36vh;
  text-align: center;
}

.title {
  background-image: url('../images/backgroundImages/index-bg-img-vertical.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 94vh;
}

.main-title {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 22em;
  color: white;
  line-height: 70px;
  margin: 0.6em 0;
}

.subtitle {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 7em;
  color: white;
  padding: 0 5%; 
}

.nav-index {
  background-color: rgba(255, 255, 255,0.4);
}

.nav-only-logo {
  background-color: #3b3b3b;
}

.nav-index, .nav-only-logo {
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.nav-logout {
  background-color: #3b3b3b;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.nav-logo {
  height: 4vh;
  margin: 3vh 3vh; 
}

.nav-logo img {
  height: 4vh;
}

.auth {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.auth a {
  color: #3b3b3b;
  text-decoration: none;
}

.auth li {
  text-transform: uppercase;
  padding-right: 4vw;
  font-size: 5em;
}


.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  margin-top: 3%;
}

.logo-text div {
  width: 100%;
}

.info {
  padding: 5% 7%;
}

.info p {
  text-align: center;
}

.signup-form, .login-form {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 91vh;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background-image: url('../images/backgroundImages/cherry-food-fresh-890507.jpg');
}

.item-signup, .item-login {
  padding: 4% 0;
}

.login-form {
  background-image: url('../images/backgroundImages/bowl-coffee-cooking-880476.jpg');
}

.signup-login-button {
  text-transform: uppercase;
  font-size: 4em;
  color: white;
  background-color: #3b3b3b;
  
  padding: 3% 6%;
  border-radius: 30px;
  font-family: 'Work Sans', sans-serif;
}

.form-div {
  background-color: rgba(255, 255, 255,0.7);
  text-align: center;
  width: 80%;
  height: 80%;
  text-align: center;
}

.general-form {
  text-align: center;
}

.img-text {
  height: 20vh;
}

.section2-text {
  font-size: 4em;
  color: #3b3b3b;
}

.section2-titles {
  font-size: 7em;
}

.form-title {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 12em;
  color: #3b3b3b;
}

.form-text {
  font-size: 5.5em;
  display: block;
  color: #3b3b3b;
}

.form-input {
  width: 75%;
  height: 4vh;
  font-size: 2.5rem;
}

.align-form-cemter {
  text-align: center;
}

.align-form-left {
  text-align: left;
}

.input-button-space {
  margin-top: 7%;
}

.another-acc {
  margin-top:10%;
}

.form-acc-text {
  font-size: 4em;
  color: #3b3b3b;
}

.form-acc-text a {
  text-decoration: underline;
}

.remove-style-acc {
  text-decoration: none;
  color: #3b3b3b;
}

.footer {
  background-color: #3b3b3b;
  overflow: hidden;
  text-align: center;
}

.footer-text {
  margin: 0.5em;
  font-size: 4em;
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-fridge {
  width: 100%;
  text-align: center;
  font-size: 6em;
  color: #8ed2d2;
  margin-top: 35%;
}

.home-recipes{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

.home-recipes-icon, .home-fridge-icon {
  width: 90%;
  border-radius: 7vw;
}

.home-recipes h3{
 font-size: 6em;
 color: #f3836b;
}

.logout-button {
color: #3b3b3b;
font-size: 1em;
padding: 10px 15px;
text-transform: uppercase;
background-color: transparent;
border-color: transparent;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.recipes-div {
  text-align: center;
  border-bottom: 2px solid #92b698;
  background-color: #f39558;
  padding: 13% 15%;
  margin-bottom: 5%;
  border-radius: 50px;
}

.recipes-title{
  text-decoration: none;
  font-size: 8em;

  font-weight: 300;
}

.all-recipes {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5%;
}

.list-recipes-div {
  text-align: center;
  background-color: #f39558;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 50px;
}

.list-recipes-title {
  font-size: 6em;
  text-decoration: none;
  list-style-type: none;
}

.list-recipes-title-a {
  list-style-type: none;
  text-decoration: none;
  color: #f3836b;
}

.list-recipes-text {
  font-size: 4em;
  color: #3b3b3b;
}

.detail-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}
  
.recipe-picture {
  width: 100%;
}

.detail-title {
  font-size: 5em;
  color: #3b3b3b;
}

.detail-h3 {
 font-size: 3em;
 color: #3b3b3b;
}

.detail-h4 {
font-size: 2em;
color: #3b3b3b;
}

.detail-instructions {
  font-size: 2em;
  color: #3b3b3b;
}

.detail-source {
  font-size: 1.5em;
  color: #3b3b3b;
}

.detail-spoon {
  height: 3vh;
}

.logout-text {
  font-size: 3em;
  color: white;
}

.fridge-classification-title {
  font-size: 6em;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #3b3b3b;
}

input[type=checkbox].css-checkbox{ display: none; }

.css-label{
  display: flex;
  width: fit-content;
  background-color: #E9EEF4;
  background-size: contain;
  margin: 2%;
  border-radius: 10px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
 background-position: 0 0;
 outline: 3px solid #2FBCDF;
 -moz-outline-radius: 10px;
}


.recipes-text {
  list-style-type: none;
  text-decoration: none;
  color: #f3836b
}

.recipe-detail-div {
  padding: 5%;
}

.current-ingredients-title {
  font-size: 6em;
  display: flex;
  padding-left: 25%;
  flex-direction: row;
}

.current-ingredient-name {
font-size: 4em;
}

.current-ingredients-image {
  height: 10vh;
}

.current-ingredients-display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.current-ingredients-delete-button {
font-size: 6em;
color: white;
background-color: #3b3b3b;
border-radius: 15px;
height: 2em;
width: 4em;
margin-bottom: 5%;
text-decoration: none;
}

.current-ingredients-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.current-ingredients-add-button {
font-size: 9em;
color: white;
background-color: #3b3b3b;
border-radius: 15px;
height: 2em;
width: 4em;
text-decoration: none;
}

.ingredients-add-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;  
}

.add-ingredients-image {
  height: 13vh;
}

.add-ingredients-text {
  font-size: 3em;
  line-height: 0;
}

.add-ingredients-checkbox {
  display: block;
  width: 40px;
  height: 40px;
}

.add-ingredients-inner-div {
  display: flex;
  flex-direction: row;
  margin: 10%;
}

.add-ingredients-space {
  margin: 5%;
}


.current-ingredients-delete-button-2 {
font-size: 6em;
color: white;
background-color: #3b3b3b;
border-radius: 15px;
height: 2em;
width: 4em;
margin-left: 38%;
margin-bottom: 5%;
}

.singup-message {
  font-size: 4em;
}

.login-message {
  font-size: 4em;
}

.delete-link {
  list-style-type: none;
  text-decoration: none;
  color: #3b3b3b;
}

.detail-container-2 {
  padding: 5%;
}

.to-my-fridge {
  background-image: url('/images/access-my-fridge.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 28vh;
  text-align: center;
  padding-top: 18%;
}

.access-fridge-text {
  font-size: 10em;
  text-decoration: none;
  color: white;
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
}

.recipes-text-3 {
  color: #3b3b3b;
  font-size: 4.4rem;
}

.logout-button-white {
  color: white;
  background-color: transparent;
  font-size: 5em;
  text-transform: uppercase;
  padding: 3% 5%;
  border-color: transparent;
}

.go-home {
  font-size:6em;
  text-decoration: none;
  color: white;
}

.go-home-div {
  width: 22em;
  height: 10em;
  background-color: #3b3b3b;
  border-radius: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-left: 5%;
}

.highlight{
  background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), #f39558 85%, rgba(255, 255, 255, 0));
}

.text-highlight {
  font-style: normal;
  border-radius: 1em 0 1em 0;
  text-shadow: 1px 1px 1px #fff;
  background-image: 
    linear-gradient(-100deg, 
      rgba(255,250,150,0.15),
      #f39558 85%, 
      rgba(255,250,150,0.25)
    );
}

.underline-magical {
  background-image: linear-gradient(120deg, #F57C00 0%, #FFE0B2 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
  padding-bottom: 3%;
}

.done-button {
  border-radius: 25px;
  background-color: #f39558;
  width: fit-content;
  border-color: transparent;
  padding: 3% 5%;
  margin-top: 1.5%;
}

.done-button p {
  font-size: 2.8rem;
  font-family: 'Abril Fatface', cursive;
  color: #3b3b3b;
  padding: 0;
  margin: 0;
}

.done-button a {
  text-decoration: none;
}

.container-button-center {
  display: flex;
  justify-content: center;
}