html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.title {
  background-image: url('../images/backgroundImages/appetizer-board-color-326268.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 83vh;
}

.subtitle {
  font-size: 10em;
  color: white;
  padding-left: 5%;
  padding-top: 15%; 
}

.nav-index {
  background-color: rgba(255, 255, 255,0.4);
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-only-logo {
  background-color: #3b3b3b;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-logout {
  background-color: #3b3b3b;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-index ul {
  padding-top: 5%;
}

.auth {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.auth a {
  color: #3b3b3b;
  text-decoration: none;
}

.auth li {
  padding-right: 4vw;
  font-size: 5em;
}

.title-image {
  font-size: 20em;
  color: white;
  padding-left: 7%;
  line-height: 70px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  margin-top: 3%;
}

.logo-text,div {
  width: 100%;
}

.signup-form {
  background-image: url('../images/backgroundImages/cherry-food-fresh-890507.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 80vh;
  display: flex;
  text-align: center;
}

.login-form {
  background-image: url('../images/backgroundImages/bowl-coffee-cooking-880476.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
}

.signup-signin-button {
  font-size: 10em;
  height: 8vh;
  color: white;
  background-color: #3b3b3b;
  width: 50%;
  padding-bottom: 1%;
}

.form-div {
  background-color: rgba(255, 255, 255,0.4);
  width: 100%;
  display: inline-block;
}

.general-form {
  text-align: center;
}

.img-text {
  height: 20vh;
}

.section2-text {
  font-size: 4em;
  color: #3b3b3b;
}

.section2-titles {
  font-size: 7em;
}

.form-title {
  font-size: 15em;
  color: #3b3b3b;
}

.form-text {
  font-size: 8em;
  color: #3b3b3b;
}

.form-input {
  width: 50%;
  height: 2vh;
}

.align-form-cemter {
  text-align: center;
}

.align-form-left {
  text-align: left;
}

.input-button-space {
  margin-top: 20%;
}

.another-acc {
  margin-top:10%;
}

.form-acc-text {
  font-size: 6em;
  color: #3b3b3b;
}

.remove-style-acc {
  text-decoration: none;
  color: #3b3b3b;
}

.footer {
  background-color: #3b3b3b;
  height: 10vh;
}

.footer-text {
  padding-top: 5%;
  font-size: 5em;
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.home-fridge {
  width: 100%;
  text-align: center;
}

.home-fridge {
  font-size: 6em;
}

.home-recipes{
  width: 100%;
  text-align: center;
}

.home-recipes h3{
 font-size: 6em;
}

.home-recipes-icon {
  height: 25vh;
}

.home-fridge-icon {
  height: 30vh;
}

.logout-button {
  height: 5vh;
  color: white;
  font-size: 6em;
}

.recipes-container {
  display: flex;
  flex-direction: column;
}

.recipes-div {
  text-align: center;
}

.recipes-title{
  text-decoration: none;
  font-size: 8em;
  color: #3b3b3b;
}

.all-recipes {
  display: flex;
  flex-direction: column
}

.list-recipes-div {
  text-align: center;
}

.list-recipes-title {
  font-size: 3em;
  text-decoration: none;
}

.list-recipes-text {
  font-size: 2em;
}

.detail-container {
  display: flex;
  flex-direction: column;
}

.detail-title {
  font-size: 5em;
}

.detail-h3 {
 font-size: 3em;
}

.detail-h4 {
font-size: 2em;
}

.detail-instructions {
  font-size: 2em;
}

.detail-source {
  font-size: 1.5em;
}

.detail-spoon {
  height: 3vh;
}

.logout-text {
  font-size: 3em;
  color: white;
}
